header {
  margin-bottom: 20px; }

#adsense {
  text-align: center; }

#keyboard {
  margin: 10px -4px;
  font-family: 'VAG Rounded W02 Light'; }
  #keyboard .kb-row {
    overflow: hidden;
    *zoom: 1;
    float: left; }
  #keyboard .key {
    overflow: hidden;
    *zoom: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    float: left;
    overflow: hidden;
    margin: 4px;
    width: 55px;
    height: 52px;
    border: 1px solid black;
    text-align: center;
    font-size: 22px;
    line-height: 56px; }
    .uppercase #keyboard .key.letter {
      text-transform: uppercase; }
    #keyboard .key.invert {
      background-color: #000000;
      color: #ffffff; }
  #keyboard .top,
  #keyboard .bottom {
    font-size: 18px;
    height: 26px;
    line-height: 26px;
    padding: 0 4px; }
    #keyboard .top.small,
    #keyboard .bottom.small {
      font-size: 65%; }
  #keyboard .tab,
  #keyboard .delete,
  #keyboard .control {
    width: 89px; }
  #keyboard .caps-lock {
    width: 100px; }
  #keyboard .return {
    width: 109px; }
  #keyboard .shift {
    width: 137px; }
  #keyboard .option {
    width: 70px; }
  #keyboard .command {
    width: 88px; }
  #keyboard .space {
    width: 380px; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

#mti_wfs_colophon {
  display: none !important; }
