@import "compass";
@import "compass/css3";

header {
  margin-bottom: 20px;
}

#adsense {
  text-align: center;
}

#keyboard {
  margin: 10px -4px;
  font-family:'VAG Rounded W02 Light';

  .kb-row {
    @include clearfix;
    float: left;
  }

  .key {
    @include clearfix;
    @include border-radius(5px);

    display        : inline-block;
    float          : left;
    overflow       : hidden;
    margin         : 4px;
    width          : 55px;
    height         : 52px;
    border         : 1px solid black;
    text-align     : center;
    font-size      : 22px;
    line-height    : 56px;

    .uppercase &.letter {
      text-transform: uppercase;
    }

    &.invert {
      background-color: #000000;
      color: #ffffff;
    }
  }

  .top,
  .bottom {
    font-size   : 18px;
    height      : 26px;
    line-height : 26px;
    padding     : 0 4px;

    &.small {
      font-size: 65%;
    }
  }

  .tab,
  .delete,
  .control    { width : 89px;  }
  .caps-lock  { width : 100px; }
  .return     { width : 109px; }
  .shift      { width : 137px; }
  .option     { width : 70px;  }
  .command    { width : 88px;  }
  .space      { width : 380px; }

  .home {

  }
}

.text-right { text-align : right; }
.text-left  { text-align : left;  }

#mti_wfs_colophon { display: none !important; }
